.sidebar {
  width: 300px;

  .user {
    background: #fff;
    border-radius: 5px;

    .background {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      display: inline-block;
      width: 300px;
      height: 150px;
      object-fit: cover;
    }

    .info {
      margin-top: -80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 20px 10px;
      align-items: center;
    }

    .describe {
      width: 300px;
      padding: 20px;
      white-space: pre-wrap;
      text-align: center;
      overflow: hidden;
    }

    .icon {
      margin: 10px;
    }
  }

  .operation{
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .menu {
    margin-top: 12px;
    background: #fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    .item {
      display: flex;
      padding: 10px;

      &:hover {
        background: rgba(71, 160, 235, 0.81);
        color: white;
      }

      .right {
        flex-grow: 1;
        text-align: right;
      }
    }

    .item-select {
      display: flex;
      padding: 10px;
      background: rgba(71, 160, 235, 0.81);
      color: white;

      .right {
        flex-grow: 1;
        text-align: right;
      }
    }
  }
}
